gunicorn==20.1.0
django==4.1
jupyter==1.0.0
pip==21.0.1
attrs==20.3.0
toml==0.10.2
wheel==0.36.2
openssl==1.1.1
cryptography==3.4.7
pillow==8.2.0
docutils==0.17
sphinx==4.0.1
tornado==6.1
jinja2==2.11.3
keyring==22.3.0
pkginfo==1.7.0
asgiref==3.5.2
sqlparse==0.4.1
colorama==0.4.4
yaml==0.2.5
pyyaml==5.4.1
tblib==1.7.0
numpy==1.20.1
requests==2.25.1
typing_extensions==3.7.4.3
setuptools==52.0.0
packaging==20.9
pyparsing==2.4.7
zipp==3.4.1
cython==0.29.23
future==0.18.2